body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.blocker-message {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 80%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#dont-unblock,
#unblock {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#dont-unblock {
    background-color: #ff6347;
    color: white;
    margin-right: 20px;
}

#unblock {
    background-color: #32cd32;
    color: white;
}