body {
    font-family: Palatino, serif;
    color: black;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('../../BG/bgProfil.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}


.profile {
    width: 60%;
    height: 110%;
    margin-left: 15%;
    margin-top: 5%;
    background: transparent;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5% 5% 15% 5%;
}

.first {
    height: 15%;
    position: relative;
    text-align: center;
}

.second {
    height: 60%;
    width: 20%;
    position: relative;
    text-align: left;
    margin-top: 3%;
}

.third {
    height: 60%;
    width: 35%;
    position: relative;
    text-align: left;
    left: 30%;
}

.third #p1 {
    margin-top: -71.5%;
}

.four {
    position: absolute;
    right: 5%;
    top: 5%;
}

.five {
    height: 40%;
    width: 30%;
    position: absolute;
    left: 65%;
    bottom: 20%;


}

.five img {
    position: absolute;
    object-fit: cover;
    bottom: 50%;
    height: 60%;
    width: 60%;
}

.first img {
    width: 20%;
    height: 20%;
    border-radius: 40%;
    border: 3px solid white;
    left: 50%;
    margin-top: -5%;
}

.first h1 {
    left: 50%;
    margin: 0;
    color: white;
}

#p1 {
    text-align: center;
    font-weight: 1000;
    border: 2px solid white;
    background-color: rebeccapurple;
    font-size: 20px;
}


#p2 {
    margin-left: 10%;
    font-weight: 400;
    font-style: italic;
    color: white;
    font-size: 20px;
}


.five button {
    background-color: rebeccapurple;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    margin-left: 12%;
}

#btn1 {
    position: absolute;
    top: 50%;
}

#btn2 {
    position: absolute;
    top: 50%;
    right: 60%;
}

#btn1 i,
#btn2 i {

    font-size: 2em;
}

#img1 {
    visibility: visible;
}

#img2,
#img3,
#img4,
#img5,
#img6 {
    visibility: hidden;
}



#optionsBtn {
    background-color: rebeccapurple;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;
}

#optionsMenu {
    margin-top: 20px;
    background-color: black;
    border: 2px solid red;
}

#optionsMenu a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-style: italic;
}

#optionsMenu a:hover {
    text-decoration: underline;
}