body {
    font-family: Palatino, serif;
    color: white;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('../../BG/bulb.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#p1 {
    text-decoration: underline;
}

.profile {
    width: 20%;
    height: 100%;
    margin-left: 1%;
    margin-top: 5%;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5% 5% 15% 5%;
    border-radius: 15%;
    border: 1px solid white;
    overflow: hidden;
}

.first {
    height: 15%;
    position: relative;
    text-align: center;
}

.third {
    height: 200px;
    width: 200%;
    position: relative;
    top: 35%;
    left: 30%;
    margin-top: 0%;
}

.second,
.third {
    display: inline-block;
    vertical-align: top;
    width: 35%;
}

.second {
    margin-right: 5%;

}

.four {
    position: absolute;
    right: 5%;
    top: 5%;
}

.five {
    height: 40%;
    width: 30%;
    position: absolute;
    left: 65%;
    bottom: 20%;


}

.five img {
    position: absolute;
    object-fit: cover;
    bottom: 50%;
    height: 60%;
    width: 60%;
}

.first img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid white;
    left: 50%;
    object-fit: cover;
    margin-bottom: 5%;
}


.first h1 {
    left: 50%;
    margin: 0;
    color: white;
}

#p1 {
    text-align: center;
    font-weight: 1000;
    font-size: 21px;
}


.third #p2 {
    width: 100%;
    font-weight: 400;
    color: white;
    font-size: 20px;
}


.five button {
    background-color: rebeccapurple;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    margin-left: 12%;
}

#btn1 {
    position: absolute;
    top: 80%;
    right: 200%;
}

#btn2 {
    position: absolute;
    top: 80%;
    right: 60%;
}

#btn1 i,
#btn2 i {

    font-size: 2em;
}


#img1,
#img2,
#img3,
#img4,
#img5,
#img6 {
    visibility: hidden;
}



#optionsBtn {
    background-color: rebeccapurple;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;
}

#optionsMenu {
    margin-top: 20px;
    background-color: black;
    border: 2px solid red;
}

#optionsMenu a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-style: italic;
}

#optionsMenu a:hover {
    text-decoration: underline;
}