@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../../BG/love.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.navMenu {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.navigationBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10%;
}


.navigationBar a {
    font-size: 1.45rem;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navigationBar a:hover {
    animation-name: bigger;
    animation-duration: 1s;
}

.logo {
    height: 80%;
    width: 80%;
}

.round-image {
    border-radius: 50%;
    position: absolute;
    top: 10%;
    right: 3%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    z-index: 101;
}


.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profile-container .profile {
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
}


.round-image:hover {
    filter: brightness(80%);
}

.roundOther-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    z-index: 101;
}

.deco_button {
    border-radius: 3% 3% 2% 2%;
    background: linear-gradient(pink, beige);
    height: 5%;
    width: 5%;
    position: absolute;
    top: 2%;
    left: 3%;
}

.deco_button:hover {
    background: linear-gradient(red, grey);
}

i {
    top: 60%;
    transform: translateY(20%);
    font-size: 140%;
}

#submenu {
    display: none;
    position: absolute;
    min-width: 160px;
    top: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: 1;
}

#submenu a {
    margin-right: 10%;
    text-decoration: none;
}

#submenu a:hover {
    text-decoration: underline;
}

.blur-effect {
    filter: blur(8px) brightness(50%);
    transition: all 0.5s ease;
}

#displaySearch {
    position: absolute;
    top: 5%;
    right: 50%;
    z-index: 999;
    display: none;
    width: 15%;
    height: 5%;
}



#displaySearch input {
    height: 100%;
    width: 84%;
    border: 2px solid grey;
    color: darkgray;
    padding: 5% 12% 5% 5%;
}

#displaySearch,
#displaySearch input {
    background-color: paleturquoise;
    border-radius: 4%, 4%, 4%, 4%;
}

#displaySearch input::placeholder {
    color: darkgray;
}

#displaySearch i {
    position: absolute;
    top: 0%;
    right: 2%;
    font-size: 3em;
}

@media (max-width: 1920px) {
    #submenu a {
        font-size: 16px;
    }

    #displaySearch i {
        font-size: 2.2em;
    }
}

@keyframes bigger {
    100% {
        transform: scale(2, 2)
    }
}