body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-image: url('../BG/adminBG.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.navMenu {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.navigationBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10%;
}

.navigationBar a {
    font-size: 1.45rem;
    color: peachpuff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navigationBar a:hover {
    animation-name: bigger;
    animation-duration: 1s;
}

.navigationBar a.active {
    text-decoration: underline;
}

.logo {
    height: 80%;
    width: 80%;
}

#userTable {
    z-index: 999;
    background-color: peachpuff;
    color: black;
    font-size: 32px;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: auto;
}

#userTable tr {
    border-bottom: 1px solid #dddddd;
}

#userTable tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#userTable td,
#userTable th {
    padding: 12px 15px;
    text-align: left;
}

.round-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

@media (max-width: 1920px) {
    #userTable {
        font-size: 24px;
        width: 85%;
    }

    .round-image {
        width: 80px;
        height: 80px;
    }
}